<template name="customerActions">
    <a class="editCustomer">
        <span class="fa fa-edit"></span>
    </a>
    <a class="removeCustomer">
        <span class="fa fa-trash"></span>
    </a>
</template>

<template name="customers">

    {{> pageHeading title='Customers List' category='Customers' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Customers</h5>
                        <div class="ibox-tools">
                             <a href="/customers/add" id="addCustomer" class="btn btn-primary btn-xs">Add Customer</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {{> tabular table=TabularTables.CustomerList class="table table-striped table-bordered table-hover"}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>