<template name="userActions">
    <a class="editUser">
        <span class="fa fa-edit"></span>
    </a>
    <!--
    <a class="removeUser">
        <span class="fa fa-trash"></span>
    </a>
    -->
</template>

<template name="users">

    {{> pageHeading title='Users List' category='Users' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Users</h5>
                        <div class="ibox-tools">
                            <a href="/users/add" id="addProduct" class="btn btn-primary btn-xs">Add User</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {{> tabular table=TabularTables.UserList class="table table-striped table-bordered table-hover"}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>