<template name="userForm">
    {{> pageHeading title=title category='Users' }}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            {{title}}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        {{#if modeEdit}}
                            {{> quickForm schema=updateUserForm doc=user id="editUserForm" type="method-update" meteormethod="updateUser"}}
                        {{else}}
                            {{> quickForm schema=insertUserForm id="insertUserForm" type="method" meteormethod="insertUser"}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>