<template name="signIn">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">CR</h1>

            </div>
            <h3>Welcome to simple CRM</h3>
            <p>Perfectly designed and developed CRM
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
            <p class="m-t">
                <small>Narek &copy; 2018</small>
            </p>
        </div>
    </div>
</template>