<template name="productForm">
    {{> pageHeading title=title category='Products' }}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            {{#if modeEdit}}
                                Edit Product
                            {{else}}
                                {{title}}
                            {{/if}}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        {{#if modeEdit}}
                             {{> quickForm collection=Products doc=product id="editProductForm" type="update"}}
                        {{else}}
                             {{> quickForm collection=Products id="insertProductForm" type="insert"}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</template>