<template name="productActions">
    <a class="editProduct">
        <span class="fa fa-edit"></span>
    </a>
    <a class="removeProduct">
        <span class="fa fa-trash"></span>
    </a>
</template>

<template name="products">

    {{> pageHeading title='Products List' category='Products' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Products</h5>
                        <div class="ibox-tools">
                             <a href="/products/add" id="addProduct" class="btn btn-primary btn-xs">Add Product</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {{> tabular table=TabularTables.ProductList class="table table-striped table-bordered table-hover"}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>