<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{user.username}}</strong>
                                </span>
                                <span class="text-muted text-xs block">
                                     {{user.profile.firstName}} {{user.profile.lastName}}
                                </span>
                                <span class="text-muted text-xs block">
                                     {{user.role}} 
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        CRM
                    </div>
                </li>
                {{#if isInRole 'products'}}
                <li class="{{isActivePath regex='products'}}">
                    <a href="/products">
                        <i class="fa fa-barcode"></i>
                        <span class="nav-label">Products</span>
                    </a>
                </li>
                {{/if}}
                {{#if isInRole 'customers'}}
                <li class="{{isActivePath regex='customers'}}">
                    <a href="/customers">
                        <i class="fa fa-address-book"></i>
                        <span class="nav-label">Customers</span>
                    </a>
                </li>
                {{/if}}
                {{#if isInRole 'orders'}}
                <li class="{{isActivePath regex='orders'}}">
                    <a href="/orders">
                        <i class="fa fa-list"></i>
                        <span class="nav-label">Orders</span>
                    </a>
                </li>
                {{/if}}
                {{#if isInRole 'moderator'}}
                <li class="{{isActivePath regex='users'}}">
                    <a href="/users">
                        <i class="fa fa-users"></i>
                        <span class="nav-label">Users</span>
                    </a>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>
</template>
