<template name="orderActions">
    <a class="editOrder">
        <span class="fa fa-edit"></span>
    </a>
    <a class="removeOrder">
        <span class="fa fa-trash"></span>
    </a>
</template>

<template name="orders">

    {{> pageHeading title='Orders List' category='Orders' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Orders</h5>
                        <div class="ibox-tools">
                             <a href="/orders/add" id="addOrder" class="btn btn-primary btn-xs">Add Order</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        {{> tabular table=TabularTables.OrderList class="table table-striped table-bordered table-hover"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>