<template name="orderForm">
    {{> pageHeading title=title category='Orders' }}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            {{title}}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        {{#if modeEdit}}
                            {{> quickForm collection=Orders doc=order id="editOrderForm" type="update"}}
                        {{else}}
                            {{> quickForm collection=Orders id="insertOrderForm" type="insert"}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>